.carousel-item img {
    filter: brightness(50%);
}

.footer-icons a {
    margin-left: 5px;
    border: 5px;


}

.tech-bg-info {
    background-color: rgba(40, 155, 222, 1);
}

.tech-btn-info {
    background-color: rgba(40, 155, 222, 1);
}

@media only screen and (max-width: 700px) {
    .carousel-caption {
        width: 200px;
        height: 100px;
        margin: 0;
        font-size: smaller;

    }




}